.red {
  height: 100;
  width: 100;
  background-color: red;
  position: absolute;
  left: 200;
  top: 200;
}

.blue {
  height: 100;
  width: 100;
  background-color: blue;
  position: absolute;
  left: 100;
  top: 100
}

.yellow {
  height: 100;
  width: 100;
  background-color: yellow;
  position: absolute;
  left: 0; /* to avoid this use: body {margin: 0;} */
  top: 0; /* to avoid this use: body {margin: 0;} */
}
