body {
  margin: 0;
  border-width: 0;
  text-align: center;
  background-color: #34ce34;
}

h1 {
  margin: 0;
}

.top-container {
  background-color: #c8e6f5;
}

.middle-container {
  background-color: red;
  height: 0;
}

.bottom-container {
  /* background-color: #34ce34; */
  height: 0;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 150px;
  top: 10px;
}

.left-cloud {
  position: absolute;
  top: 150px;
  left: 100px;
}

.right-cloud {
  position: absolute;
  top: 300px;
  right: 150px;
}

img {
  vertical-align: bottom
}
