body {
  margin: 0;
}

h1 {
  margin: 0;
}

div {
  border-style: solid;
  border-color: black;
}

.top-container {
  background-color: #f0ece2;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-width: 10px;
}

.middle-container {
  margin-left: 260px;
  width: 200px;
  height: 200px;
  background-color: red;
  border-width: 20px;
}

.bottom-container {
  margin-left: 500px;
  border-width: 10px;
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.pro {
  text-decoration: underline;
}
