body {
  margin: 0;
  border-width: 0;
  text-align: center;
  /* background-color: #34ce34; */
  font-family: 'Artifika', serif;
}

h1 {
  margin: 0;
  font-size: 300%;
  font-family: 'Charm', cursive;
}

h2 {
  margin: 0;
  font-size: 200%;
}

.topest {
  background-color: #c8e6f5;
  padding-top: 30px;
}

.top-container {
  background-color: #c8e6f5;
  padding-top: 30px;
}

.grass {
  background-color: #34ce34;
  height: 30px;
}

.middle-container {
  background-color: #e8ecd6;
}

.bottom-container {
  background-color: #3f8f8d;
}

p {
  font-size: 20px;
  margin: 0;
  padding: 5px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 150px;
  top: 10px;
}

.left-cloud {
  position: absolute;
  top: 150px;
  left: 100px;
}

.right-cloud {
  position: absolute;
  top: 300px;
  right: 150px;
}

.back {
  vertical-align: bottom
}
